/*
Project Name: Blank Template
Client: Your Client
Author: Manisha Patel
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    /*font-family: Helvetica, Arial, sans-serif;*/
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
/*  height: 500px;*/

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  /*width: 800px;*/
  background-color: #033048;
  background-size: 80% 100%;
  height: 350px  
}

footer {
  background-color: #121212;
  height: 200px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 0px;

}

.section1 {
  color: #606161;
  height: 250px;
  font-size: 13px;
  margin: 0px 200px;
}

.section2 {
  background:url(../images/testimonial_bg.jpg) no-repeat center top;
  background-color: #033048;
  height: 200px;
  background-size: 80% 100%;
  color: white;
  font-size: 18px;
  padding: 25px 480px;
}

.section3 {
  height: 75px;
  background-color: #f9e42e;
  position: relative;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;;
  font-size: 24px;
  font-weight: 800;
  font-style: bold;
  color: white;
  margin: 0 200px;
  padding-top: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-style: bold;
}

.sign_up{
  font-size: 12px;
  font-style: bold;
  font-weight: 800;
  background-color: #033048;
  width: 180px;
  padding: 10px 45px;
  margin-left:45%;
  position: absolute;
  top: 20px;
  left: -20px;
}

.sign_up > a {
  color: white;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

h6{
  color: white;
  font-size: 15px;
}

#get_now {
  color: black;
  margin-top: 250px;
  margin-left:45%;
  background-color: #f9e42e;
  padding:10px 45px;
  width: 200px;
  font-size: 14px;
  font-weight:800;
}

.round {
    border-radius: 5px;   
}

.btn {
    margin-top: 85px;
}

.testimonial {  
  font-family: 'Open Sans', Arial, serif; 
  font-weight: 300;
  font-style: italic;
}

ul {
  list-style: square;
}

#benefits {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;

}

.benefits_details {
  width:45%;
}

a{
  text-decoration: none;
}

footer > h1 {
  padding-top: 0px;
}

.social_media_img {
  padding-top: 30px;
}

.social_media_img span > .alignleft {
  margin-left : 580px;
}

.social_media_img span > .alignright {
  margin-right : 580px; 
}

.yellow_font {
  color: #f9e42e;
}